{% extends 'admin/base.html' %}

{% load static %}
{% block content %}
<script src="{% static 'ajax/grp-token.js' %}"></script>

<input type="text" id="complete-input">

<div id="result"></div>

<div class="grp-module">
    <h2>Examples</h2>
    <a href="{% url 'calendar' %}">Calendar</a>
</div>

<script>
    (function ($) {
        var completeEvent = function () {
            $(this).autocomplete({
                minLength: 2,
                source: "{% url 'ajax_autocomplete' %}?app_label=app&model=foo&column_name=name&column_value=code",
                select: function (i, o) {
                    console.log(o.item.obj);
                }
            });
        };
        $('#complete-input').on('keyup', completeEvent);
    })(grp.jQuery)
</script>


<script>
    (function ($) {
        $.ajax("{% url 'ajax_getCollection' %}", {
            method: "POST",
            data: {app_label: "app", model: "foo"},
            success: function (collection) {
                console.log(collection);
            }
        })
    })(grp.jQuery)
</script>


<script>
    (function ($) {
        $.ajax("{% url 'ajax_getObject' %}", {
            method: "POST",
            data: {app_label: "app", model: "foo", id: '1'},
            success: function (obj) {
                console.log(obj);
            }
        })
    })(grp.jQuery)
</script>

<script>
    (function ($) {
        $.ajax("{% url 'ajax_ObjectView' %}", {
            method: "POST",
            data: {app_label: "app", model: "foo", id: '1', view: 'render_as_table'},
            success: function (response) {
                $('#result').html(response);
            }
        })
    })(grp.jQuery)
</script>


{% endblock %}